<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pogoda dla <%= city %>  </h1>
    <h3>Opis</h3>
    <p><%= description %> </p>
    <h3>Temperatura</h3>
    <p><%= temperature %> </p>

    <img src="<%= iconUrl %>" >

    <% if(temperature >5){ %>

        <p>Jest dość ciepło</p>
    
    <% } else { %>
        <p>Jest dość chłodno</p>
    <% } %>








    



</body>
</html>